Repository lab-v2/pyreason: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, sync-interpretation-parallel

ruff-check:
  name: Run ruff linter
  entry: .venv/bin/python -m ruff check pyreason/scripts
  language: system
  pass_filenames: false
  stages:
  - pre-commit

sync-interpretation-parallel:
  name: Sync interpretation_parallel.py from interpretation.py
  entry: .venv/bin/python sync_interpretation_parallel.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

Pushed support for functions in the argument of the head
  pyreason/pyreason.py
  pyreason/scripts/interpretation/interpretation.py
  pyreason/scripts/interpretation/interpretation_fp.py
  pyreason/scripts/interpretation/interpretation_parallel.py
  pyreason/scripts/numba_wrapper/numba_types/rule_type.py
  pyreason/scripts/program/program.py
  pyreason/scripts/rules/rule_internal.py
  pyreason/scripts/utils/rule_parser.py
  tests/functional/test_advanced_features.py
Due: ruff-check, sync-interpretation-parallel

Pushed support for functions in the argument of the head
  tests/functional/test_advanced_features.py
Due: ruff-check

Fix failing tests
  pyreason/scripts/interpretation/interpretation.py
  pyreason/scripts/interpretation/interpretation_fp.py
  pyreason/scripts/interpretation/interpretation_parallel.py
  tests/unit/disable_jit/conftest.py
  tests/unit/disable_jit/interpretations/test_interpretation_common.py
  tests/unit/disable_jit/interpretations/test_interpretation_init.py
Due: ruff-check, sync-interpretation-parallel

Fix failing tests
  tests/unit/disable_jit/interpretations/test_interpretation_common.py
  tests/unit/disable_jit/interpretations/test_interpretation_init.py
Due: ruff-check

add fixtures for new head_functions arg
  .gitignore
  tests/unit/disable_jit/interpretations/test_ground_rule_helpers.py
  tests/unit/disable_jit/interpretations/test_interpretation_common.py
  tests/unit/disable_jit/interpretations/test_interpretation_init.py
  tests/unit/disable_jit/interpretations/test_reason_core.py
Due: ruff-check

added tests for functions in the argument
  tests/functional/test_advanced_features.py
Due: ruff-check

docs for funcs in the argument
  docs/source/user_guide/3_pyreason_rules.rst
Due: none

query docs
  docs/source/user_guide/6_pyreason_output.rst
Due: none

settings and fp version docs
  docs/source/user_guide/4_pyreason_settings.rst
  docs/source/user_guide/8_advanced_usage.rst
Due: none

Bump version from 3.1.0 to 3.2.0
  setup.py
Due: ruff-check

Update website link in README.md
  README.md
Due: none

Initial Commit for AI docs
  ai_docs/BUG_LOG.md
  ai_docs/BUG_LOG_2.md
  ai_docs/GLOSSARY.md
  ai_docs/GROUND_RULE_ANALYSIS.md
  ai_docs/INTERPRETATION_SECTION_BY_SECTION.md
  ai_docs/LAYER_8_COMPREHENSIVE_EXAMPLE.md
  ai_docs/LAYER_9_COMPREHENSIVE_EXAMPLE.md
  ai_docs/REASON_ANALYSIS.md
Due: none

Add fact parser validation, tests, and bulk fact loading with tests
  pyreason/pyreason.py
  pyreason/scripts/utils/fact_parser.py
  tests/api_tests/test_files/example_facts.csv
  tests/api_tests/test_files/example_facts_no_header.csv
  tests/api_tests/test_pyreason_file_loading.py
  tests/unit/dont_disable_jit/test_fact_parser.py
Due: ruff-check

Don't hardcode default values
  pyreason/pyreason.py
Due: ruff-check

Prevent predicates from starting with a digit
  pyreason/scripts/utils/fact_parser.py
  tests/unit/dont_disable_jit/test_fact_parser.py
Due: ruff-check

Fix typo in MAKEFILE
  Makefile
Due: none

Improve CSV loader tests
  tests/api_tests/test_files/example_facts.csv
  tests/api_tests/test_pyreason_file_loading.py
Due: ruff-check

Add fact string formatting rules in docstring
  pyreason/scripts/facts/fact.py
Due: ruff-check

Remove extranious f string for linter
  pyreason/scripts/utils/fact_parser.py
Due: ruff-check

Fix api test file loading
  tests/api_tests/test_pyreason_file_loading.py
Due: ruff-check

Add test for example with no header
  tests/api_tests/test_files/example_facts_no_header.csv
  tests/api_tests/test_pyreason_file_loading.py
Due: ruff-check

Make invalid csv file loads raise exceptions by default
  pyreason/pyreason.py
  pyreason/scripts/facts/fact.py
  pyreason/scripts/utils/fact_parser.py
Due: ruff-check

Upd tests
  tests/api_tests/test_pyreason_file_loading.py
Due: ruff-check

Fix BUG-138: Correct threshold checking by filtering qualified groundings
  pyreason/scripts/interpretation/interpretation.py
  pyreason/scripts/interpretation/interpretation_fp.py
  tests/unit/disable_jit/interpretations/test_ground_rule_helpers.py
Due: ruff-check, sync-interpretation-parallel

Fix test compatibility with BUG-138 fix
  tests/unit/disable_jit/interpretations/test_ground_rule_helpers.py
Due: ruff-check

Sync interpretation parallel
  .pre-commit-config.yaml
  pyreason/scripts/interpretation/interpretation_parallel.py
Due: ruff-check

Cleanup prints and update pre-commit hook
  .pre-commit-config.yaml
  pyreason/scripts/interpretation/interpretation.py
  pyreason/scripts/interpretation/interpretation_parallel.py
  sync_interpretation_parallel.py
Due: ruff-check, sync-interpretation-parallel

Update sync interpretation
  pyreason/scripts/interpretation/interpretation.py
  pyreason/scripts/interpretation/interpretation_parallel.py
  sync_interpretation_parallel.py
Due: ruff-check, sync-interpretation-parallel

Add tests for edge groundings
  .pre-commit-config.yaml
  pyreason/scripts/interpretation/interpretation.py
  pyreason/scripts/interpretation/interpretation_parallel.py
  tests/unit/disable_jit/interpretations/test_ground_rule_helpers.py
Due: ruff-check, sync-interpretation-parallel

Cleanup prints in tests
  pyreason/.cache_status.yaml
  tests/unit/disable_jit/interpretations/test_ground_rule_helpers.py
Due: ruff-check

one more sync test
  pyreason/scripts/interpretation/interpretation.py
  pyreason/scripts/interpretation/interpretation_parallel.py
Due: ruff-check, sync-interpretation-parallel

Add cache status back
  pyreason/.cache_status.yaml
Due: none

Sync interp parrallel
  .pre-commit-config.yaml
  pyreason/scripts/interpretation/interpretation.py
  pyreason/scripts/interpretation/interpretation_fp.py
  pyreason/scripts/interpretation/interpretation_parallel.py
  tests/unit/disable_jit/interpretations/test_bug_127_delta_bound.py
Due: ruff-check, sync-interpretation-parallel

Move to test_reason_update
  tests/unit/disable_jit/interpretations/test_bug_127_delta_bound.py
  tests/unit/disable_jit/interpretations/test_reason_update.py
Due: ruff-check

Delete tests/unit/disable_jit/interpretations/test_bug_127_delta_bound.py
  tests/unit/disable_jit/interpretations/test_bug_127_delta_bound.py
Due: ruff-check

Sync interp parrallel
  pyreason/scripts/interpretation/interpretation.py
  pyreason/scripts/interpretation/interpretation_parallel.py
Due: ruff-check, sync-interpretation-parallel

Update contact information in README.md
  README.md
Due: none

Don't change the cache status
  pyreason/.cache_status.yaml
Due: none

Cleanup prints in tests
  tests/unit/disable_jit/interpretations/test_reason_update.py
Due: ruff-check

Path conditions:
  ruff-check: any of: \.py$, but not: pyreason/\.cache_status\.yaml
  sync-interpretation-parallel: any of: pyreason/scripts/interpretation/interpretation\.py, but not: pyreason/\.cache_status\.yaml
